.parallax-container {
  height: 55vh;
  width: 100%;

  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  overflow: hidden;
}

.parallax-image {
  height: 55vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    /* start fully transparent */ black 10%,
    /* fade in to full opacity */ black 90%,
    /* hold full opacity */ transparent 100% /* fade out to transparent */
  );
}

.color-gradient {
  width: 100%;
  height: 100%;
  background: var(--bg-color-fade);
}

.parallax-content {
  color: var(--text-color-black-silver);
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: var(--box-shadow-color-light);
}

.parallax-header {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
  font-family: var(--small-line-break);
}

.parallax-header-2 {
  font-family: var(--small-line-break);
  margin-bottom: 1rem;
}

.parallax-text {
  width: 60%;
  text-align: center;
  font-family: var(--general-text);
  line-height: 1.5rem;
}

.parallax-text-2 {
  margin-top: 5px;
  width: 60%;
  text-align: center;
  font-family: var(--general-text);
  font-style: italic;
  font-size: 0.8rem;
}

.parallax-link {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 20;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    var(--neon-color-faded) 0%,
    var(--neon-color-faded) calc(100% - 38px),
    transparent 100%
  );
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.laser {
  position: relative;
  display: inline-block;
  transition: 0.5s;
  overflow: hidden;
  height: 100%;
}

.laser:hover {
  background-color: var(--neon-color);
  box-shadow:
    0 0 5px var(--neon-color),
    0 0 25px var(--neon-color),
    0 0 50px var(--neon-color),
    0 0 200px var(--neon-color);
  transition:
    box-shadow 0.3s ease-out,
    border-color 0.3s ease-out;
}

.laser-link {
  all: unset;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a.laser-link,
a.laser-link * {
  -webkit-tap-highlight-color: transparent !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  -webkit-touch-callout: none !important;
  outline: none !important;
}

.laser-span {
  position: absolute;
  display: block;
}

.laser-top {
  padding: 10px 10px 10px 10px;
}

.laser-span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 105%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--neon-color));
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.laser-span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--neon-color));
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.laser-span:nth-child(3) {
  bottom: 0px;
  right: 100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--neon-color));
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.laser-span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--neon-color));
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

@media (max-width: 768px) {
  .parallax-content {
    line-height: 1;
  }

  .parallax-header {
    font-size: 1.2rem;
  }

  .parallax-header-2 {
    font-size: 1rem;
  }

  .parallax-text {
    font-size: 0.7rem;
  }

  .parallax-text-2 {
    font-size: 0.6rem;
  }
}
