.service-card {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition:
    transform 1s ease,
    box-shadow 1s ease;
}

.service-card:hover {
  transform: translateY(-15px);
  box-shadow:
    2px 15px 10px rgba(0, 0, 0, 0.5),
    -2px 15px 10px rgba(0, 0, 0, 0.5);
}

.line {
  position: absolute;
  background: black;
  z-index: 2;
}

.line.top {
  /* margin */
  top: 1rem;
  /* start reference */
  right: 1rem;
  /* growth vector */
  width: 0;
  /* line thickness */
  height: 2px;
}

.line.right {
  /* margin */
  right: 1rem;
  /* start reference */
  bottom: 1rem;
  /* growth vector */
  height: 0;
  /* line thickness */
  width: 2px;
}

.line.bottom {
  /* margin */
  bottom: 1rem;
  /* start reference */
  left: 1rem;
  /* growth vector */
  width: 0;
  /* line thickness */
  height: 2px;
}

.line.left {
  /* margin */
  left: 1rem;
  /* start reference */
  top: 1rem;
  /* growth vector */
  height: 0;
  /* line thickness */
  width: 2px;
}

.service-card:hover .line.top {
  animation: slide-top 1s forwards;
}

.service-card:hover .line.right {
  animation: slide-right 1s forwards;
}

.service-card:hover .line.bottom {
  animation: slide-bottom 1s forwards;
}

.service-card:hover .line.left {
  animation: slide-left 1s forwards;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(11, 11, 11, 0.5);
  opacity: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease 0.5s;
  margin: 1rem;
}

.service-card:hover .overlay {
  opacity: 1;
}

.service-card:not(:hover) .overlay {
  transition-delay: 0s;
  /* kill the delay on exit */
}

.overlay-content {
  color: white;
  text-align: center;
  padding: 1rem;
}

.service-card-title {
  color: #2c2c2c;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.service-card-goal {
}

.service-card-description {
}

.service-card-link {
}

@keyframes slide-top {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 2rem);
  }
}

@keyframes slide-right {
  0% {
    height: 0;
  }

  100% {
    height: calc(100% - 2rem);
  }
}

@keyframes slide-bottom {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 2rem);
  }
}

@keyframes slide-left {
  0% {
    height: 0;
  }

  100% {
    height: calc(100% - 2rem);
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
