.service-card {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  transition:
    transform 1s ease,
    box-shadow 1s ease;
  font-size: 0.9rem;
}

.service-card:hover {
  transform: translateY(-15px);
  box-shadow:
    2px 15px 10px rgba(0, 0, 0, 0.5),
    -2px 15px 10px rgba(0, 0, 0, 0.5);
}

.line {
  position: absolute;
  background: black;
  z-index: 2;
}

.line.top {
  /* margin */
  top: 1rem;
  /* start reference */
  right: 1rem;
  /* growth vector */
  width: 0;
  /* line thickness */
  height: 2px;
}

.line.right {
  /* margin */
  right: 1rem;
  /* start reference */
  bottom: 1rem;
  /* growth vector */
  height: 0;
  /* line thickness */
  width: 2px;
}

.line.bottom {
  /* margin */
  bottom: 1rem;
  /* start reference */
  left: 1rem;
  /* growth vector */
  width: 0;
  /* line thickness */
  height: 2px;
}

.line.left {
  /* margin */
  left: 1rem;
  /* start reference */
  top: 1rem;
  /* growth vector */
  height: 0;
  /* line thickness */
  width: 2px;
}

.service-card:hover .line.top {
  animation: slide-top 1s forwards;
}

.service-card:hover .line.right {
  animation: slide-right 1s forwards;
}

.service-card:hover .line.bottom {
  animation: slide-bottom 1s forwards;
}

.service-card:hover .line.left {
  animation: slide-left 1s forwards;
}

.service-card-front-title {
  position: absolute;
  bottom: 1.3rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--small-line-break);
  white-space: nowrap;
  font-size: 1rem;
  color: white;
  text-shadow:
    0 1px 3px rgba(0, 0, 0, 0.8),
    0 0 1px rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s ease 0.5s;
}

.service-card:hover .service-card-front-title {
  opacity: 0;
}

.service-card:hover .overlay {
  opacity: 1;
}

.service-card:not(:hover) .overlay {
  transition-delay: 0s;
  /* kill the delay on exit */
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(11, 11, 11, 0.75);
  opacity: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease 0.5s;
  margin: 1rem;
}

.overlay-content {
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 1rem;
  font-family: var(--general-text);
  text-shadow:
    0 1px 0 rgb(0, 0, 0),
    0 0 1px rgb(0, 0, 0);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title-div {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: var(--small-line-break);
  text-shadow:
    0 1px 0 rgb(0, 0, 0),
    0 0 1px rgb(0, 0, 0);
}

.service-card-title {
  margin-bottom: 1rem;
  font-family: var(--large-line-break);
  font-size: 1.2rem;
}

.service-card-goal {
  font-family: var(--small-line-break);
}

.service-card-description {
}

.service-card-link {
  color: #c0a080;
  text-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0.9),
    1px 1px 0 black,
    0 0 1px rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

@keyframes slide-top {
  0% {
    width: 0;
  }

  75% {
    background: hwb(317 0% 20% / 0.664);
  }

  100% {
    width: calc(100% - 2rem);
    background: silver;
  }
}

@keyframes slide-right {
  0% {
    height: 0;
  }

  75% {
    background: hwb(317 0% 20% / 0.664);
  }

  100% {
    height: calc(100% - 2rem);
    background: silver;
  }
}

@keyframes slide-bottom {
  0% {
    width: 0;
    background: black;
  }

  75% {
    background: hwb(317 0% 20% / 0.664);
  }

  100% {
    width: calc(100% - 2rem);
    background: silver;
  }
}

@keyframes slide-left {
  0% {
    height: 0;
  }

  75% {
    background: hwb(317 0% 20% / 0.664);
  }

  100% {
    height: calc(100% - 2rem);
    background: silver;
  }
}

@media (max-width: 1250px) {
  .overlay-content {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .title-div {
    font-size: 0.9rem;
  }
}
