.navbar-phone {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--bg-color-silver-gold);
  border-top: var(--bg-color-silver-gold) 2px solid;
  border-radius: 50px;
  border-bottom: var(--bg-color-silver-gold) 2px solid;
  border-right: var(--bg-color-silver-gold) 2px solid;
  padding-right: 5px;
}

.phone-icon-list-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 100%;
  color: var(--bg-color-silver-gold);
  background-color: var(--bg-color-silver-gold);
  border-radius: 100%;
  padding: 5px;
  margin-right: 5px;
}

.phone-svg {
  width: 100%;
  height: 100%;
  fill: black;
}
