.section-divider {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 0.5em;
}

.section-divider .line {
  flex-grow: 1;
  height: 2px;
  background-color: #c0a080;
  /* light and dark modes usage */
  box-shadow: 2px 2px 0.5rem rgba(0, 0, 0, 0.75);
  opacity: 0.7;
}

.section-divider .divider-text {
  white-space: nowrap;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: var(--small-line-break);
  color: #2c2c2c;
}

@media (max-width: 769px) {
  .section-divider {
    letter-spacing: normal;
  }
}