.navbar-logo {
  text-decoration: none;
  color: var(--text-color-black-silver);
  text-shadow: var(--box-shadow-logo);
  /* border: purple solid 2px; */
}

.navbar-logo h1 {
  margin: 0;
  font-weight: 700;
  /* border: teal solid 2px; */
}

.E {
  font-family: var(--flower-text);
  font-size: 3.5rem;
}

.lite {
  font-family: var(--my-text);
}
