:root {
  /* light mode */
  --bg-color-light-primary: rgba(240, 240, 232, 0.8);
  --bg-color-light-secondary: rgb(255, 248, 220);
  --bg-color-light-tertiary: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(186, 85, 211, 0.15) 48%,
    rgba(186, 85, 211, 0.15) 52%,
    rgba(255, 255, 255, 0) 100%
  );
  --bg-color-fade: linear-gradient(
    rgba(186, 85, 211, 0.3) 0%,
    rgba(186, 85, 211, 0) 100%
  );
  --bg-color-silver-gold: #c0a080;
  --bg-color-black-gold: black;

  --bg-color-call: rgb(0, 0, 0, 0.8);
  --border-color: #1c2135;
  --neon-color: hsl(317 100% 54%);
  --neon-color-faded: rgba(255, 20, 188, 0.25);
  --text-color-dark: rgb(0, 0, 0);
  --text-color-light: rgb(255, 255, 255);
  --text-color-silver: silver;
  --text-color-black-silver: black;
  --text-color-about: black;
  --text-shadow-about: none;
  --color-black-gold: black;
  --box-shadow-color-dark: 2px 2px 0 rgba(0, 0, 0, 1);
  --box-shadow-color-phone: 2px 2px 4px rgba(0, 0, 0, 1);
  --box-shadow-color-light: 2px 2px 4px silver;
  --box-shadow-logo: 1px 1px 0 #c0a080;
  --box-shadow-nav: 0 2px 12px rgba(0, 0, 0, 1);

  /* button for light-dark mode */
  --sun-color: #fabc1c;
  --moon-color: #fffdf2;
  --day-bg-color: #0dbdf6;
  --night-bg-color: #272a30;
  --cloud-color: #fffdf2;
  --star-color: #fffdf2;
}

.dark {
  --bg-color-light-primary: rgba(0, 0, 0, 0.475);
  --bg-color-light-secondary: #00000087;
  --bg-color-light-tertiary: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0) 0%,
    /* rgba(0, 0, 0, 0.3) 40%,
      rgba(0, 0, 0, 0.45) 50%,
      rgba(0, 0, 0, 0.3) 60%, */
      rgba(0, 0, 0, 0.3) 100%
  );
  --bg-color-fade: linear-gradient(
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  --bg-color-silver-gold: silver;
  --bg-color-black-gold: #c0a080;
  --bg-color-call: rgb(0, 0, 0, 0.3);
  --border-color: #f0f0e8;
  --neon-color: rgba(255, 0, 0, 1);
  --neon-color-faded: rgba(255, 0, 0, 0.25);
  --text-color-dark: white;
  --text-color-light: black;
  --text-color-black-silver: silver;
  --text-color-silver: rgb(0, 0, 0);
  --text-color-about: rgb(255, 255, 255);
  --text-shadow-about:
    -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black,
    0px -1px 0 black, -1px 0px 0 black, 1px 0px 0 black, 0px 1px 0 black,
    0 0 10px black;
  --color-black-gold: #c0a080;
  --box-shadow-color-dark: 2px 2px 0 rgb(192, 192, 192);
  --box-shadow-color-phone: 2px 2px 4px rgba(0, 0, 0, 1);
  --box-shadow-color-light: 2px 2px 4px #020202;
  --box-shadow-logo: 2px 2px 0 #020202;
  --box-shadow-nav: 0 2px 12px silver;
}

body {
  background-color: var(--bg-color-light-primary);
}

.theme-switcher-grid {
  display: grid;
  grid-template-columns: repeat(54, 1px);
  grid-template-rows: repeat(24, 1px);
  position: relative;
  background-color: var(--day-bg-color);
  border-radius: 49px;
  border: 1px outset #c0a080;
  cursor: pointer;
  transition:
    background-color 0.8s ease,
    border-color 0.8s ease;
  appearance: none;
  padding: 0;
}

.theme-switcher-grid.night-theme {
  background-color: var(--night-bg-color);
  border-color: silver;
}

/* Sun & Moon */
.sun {
  background-color: var(--sun-color);
  grid-column: 3 / 23;
  grid-row: 3 / 23;
  border-radius: 50%;
  transition:
    grid-column 0.8s ease,
    background-color 0.8s ease;
  height: 20px;
}

.theme-switcher-grid.night-theme .sun {
  grid-column: 33 / 53;
  background-color: var(--moon-color);
}

/* moon */
.moon-overlay {
  position: absolute;
  border-radius: 50%;
  transition:
    left 0.8s ease,
    background-color 0.8s ease;
  z-index: 1;
  background-color: var(--day-bg-color);
}

.theme-switcher-grid.night-theme .moon-overlay {
  display: block;
  left: calc(28 / 54 * 100%);
  top: calc(4 / 29 * 100%);
  width: 18px;
  height: 18px;
  background-color: var(--night-bg-color);
}

.cloud-ball {
  background-color: var(--cloud-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  transition: all 0.8s ease;
  z-index: 2;
}

/* Stars */
#ball1 {
  top: calc((8 / 24) * 100%);
  left: calc((12 / 54) * 100%);
}

#ball2 {
  top: calc((8 / 24) * 100%);
  left: calc((17 / 54) * 100%);
}

#ball3 {
  top: calc((8 / 24) * 100%);
  left: calc((22 / 54) * 100%);
}

#ball4 {
  top: calc((6 / 24) * 100%);
  left: calc((17 / 54) * 100%);
}

.theme-switcher-grid.night-theme #ball1 {
  top: calc((16 / 24) * 100%);
  left: calc((16 / 54) * 100%);
  width: 2px;
  height: 2px;
}

.theme-switcher-grid.night-theme #ball2 {
  top: calc((3 / 24) * 100%);
  left: calc((22 / 54) * 100%);
  width: 2px;
  height: 2px;
}

.theme-switcher-grid.night-theme #ball3 {
  top: calc((10 / 24) * 100%);
  left: calc((29 / 54) * 100%);
  width: 2px;
  height: 2px;
}

.theme-switcher-grid.night-theme #ball4 {
  top: calc((5 / 24) * 100%);
  left: calc((34 / 54) * 100%);
  width: 2px;
  height: 2px;
}
