/* ***** special notes ****** */
/* global theme variables found in themetoggle.css */
/* Full page view imports */
@import './views/contact/contact.css';
@import './views/home/home.css';
@import './views/legal/legal.css';
@import './views/services/services.css';

/* component imports */
@import './components/footer/footer.css';
@import './components/navbar/navbar.css';
@import './components/themeToggle/themetoggle.css';
@import './components/sectionBreak/section-break.css';

@font-face {
  font-family: 'large-line-break';
  src: url('/fonts/Antic_Didone/AnticDidone-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'my-text';
  src: url('/fonts/Beau_Rivage/BeauRivage.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cursive-text';
  src: url('/fonts/Fleur_De_Leah/FleurDeLeah.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'flower-text';
  src: url('/fonts/Love_Light/LoveLight.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'small-line-break';
  src: url('/fonts/Playfair_Display_SC/PlayfairDisplaySC.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'general-text';
  src: url('/fonts/Prata/Prata.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* reset */
body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global variables */
:root {
  --center: center;
  --mar-bottom: 20px;
  /* fonts */
  --large-line-break: 'large-line-break';
  --small-line-break: 'small-line-break';
  --general-text: 'general-text';
  /* logo font */
  --my-text: 'my-text';
  --flower-text: 'flower-text';
  /* may not use this font */
  --cursive-text: 'cursive-text';
}

/* max sizing for app */
.app {
  max-width: 1250px;
  margin: 0 auto;
}

.centered {
  display: flex;
  justify-content: var(--center);
}

.margin-bottom-20 {
  margin-bottom: var(--mar-bottom);
}

h1 {
  font-family: var(--small-line-break);
}
